#intro
{
    color#0000FF;
}

#if
{
    font-size: 20px;
}
body
{
    background-color:#0099CC;
}



p {
    font-family: sans-serif;
    font-size: 16px;
    color:#FFFFFF;
}
#awesomeText {font-family:'Times New Roman', Georgia, Serif;}
.soft {color #a8a8a8;}
.center {text-align: center;}
.container{margin: 0 auto;}